*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Garamond', serif;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center
}
.skills-bar{
    width: 600px;
    background: #ffffff;
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.skills-bar .bar{
    margin: 20px 0;
}
.skills-bar .bar:first-child{
    margin-top: 0px;
}
.skills-bar .bar .info span{
    font-size: 17px;
    font-weight: 500;
}
.skills-bar .bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background: #fa5353;
    border-radius: 10px;
    transition: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05), 0px 1px 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line span{
    height: 100%;
    width: 80%;
    background: #ff7191;
    position: absolute;
    border-radius: 10px;
      transition: scaleX(0);
    transform-origin: left;
       animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate{
    100%{
        transform: scaleX(1)
    }
}
.progress-line.confidence span{
    width: 75%;
}
.progress-line.smartwork span{
    width: 60%;
}
.progress-line.adaptive span{
    width: 90%;
}
.bar .progress-line span::before{
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
}
.bar .progress-line span::after{
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
}
.progress-line.confidence span::after{
    content: "75%";
}
.progress-line.smartwork span::after{
    content: "60%";
}
.progress-line.adaptive span::after{
    content: "90%";
}
