*{
    margin: 0;
    padding: 0;
}
body{
    background: #fff;
    font-family: 'Garamond', serif;
    align-items: center;
    justify-content: center;
    display: flex;
}
.cover{
    width: 900px;
    height: 400px;
    background: #000;
    margin-top: 50px;
}
.box{
    width: 800px;
    height: 400px;
}
